{% extends 'projects/base.html' %}

{% block content %}
	<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'UserAccount' %}"><i class="im im-angle-left"></i></a>
                <br>
                
                <h2>Create Project</h2>
                <form class="form" method="POST" enctype="multipart/form-data">
                    <!-- Input:Text -->
                    {% csrf_token %}
                    {% for field in form %}

                    {% if field.label == 'User' %}
                    {% else %}
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }}: </label>
                        {{ field }}
                    </div>
                    {% endif %}
                    {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                    {% endif %}
                    <br>
                    {% for er in field.errors %}
                    <bold style = "color: red;">{{ er }}</bold>
                    {% endfor %}

                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock %}