<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/app.css' %}">
	<title></title>
</head>
<body>
	<header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logo.png' %}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'Profile' %}">Developers</a></li>
          <li class="header__menuItem"><a href="{% url 'Projects' %}">Projects</a></li>
          <!--<li class="header__menuItem"><a href="inbox.html">Inbox</a></li> -->
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'LogoutUser' %}">Logout</a>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'UserAccount'  %}">My Account</a></li>
          {% endif %}
          <li class="header__menuItem"><a href="{% url 'CreateProject' %}">Create Project</a></li>
          {% if request.user.is_authenticated %}
            <li class="header__menuItem"><a href="{% url 'UserAccount'  %}" class="btn btn--sub">{{ request.user }}</a></li>
          {% else %}
            <li class="header__menuItem"><a href="{% url 'LoginRegister' %}" class="btn btn--sub">Login/SignUp</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>